header {
  display: flex;
  justify-content: space-between;
}

.corner {
  width: 3em;
  height: 3em;
}

.corner a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.corner img {
  width: 2em;
  height: 2em;
  object-fit: contain;
}

nav {
  display: flex;
  justify-content: center;
  --background: rgba(255, 255, 255, 0.7);
}

svg {
  width: 2em;
  height: 3em;
  display: block;
}

path {
  fill: var(--background);
}

ul {
  position: relative;
  padding: 0;
  margin: 0;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background: var(--background);
  background-size: contain;
}

li {
  position: relative;
  height: 100%;
}

li[aria-current='page']::before {
  --size: 6px;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: calc(50% - var(--size));
  border: var(--size) solid transparent;
  border-top: var(--size) solid var(--color-theme-1);
}

nav a {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 0.5rem;
  color: var(--color-text);
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: color 0.2s linear;
}

a:hover {
  color: var(--color-theme-1);
}


section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.6;
}

h1 {
  width: 100%;
}

html, body {
  width: 100%;
  height: 100%;
}

html{
  background-color:#454545;
}

gametitlespace{
  font-family: serif;
  font-weight:bold;
  font-size: 3em;
  color:white;
  text-shadow: -2px 2px 0 #000, 
    2px 2px 0 #000, 
    2px -2px 0 #000, 
    -2px -2px 0 #000; 
}

.centeritems{
  text-align:center;
  align-items: center;
  justify-content: center;
  margin: auto;
}

html, body {
  width: 100%;
  height: 100%;
}

#game-container {
  border-radius: 50px;
  border: 10px solid #000000;
  width: 300px;
  height: 550px;
  background-color:white;
  position: relative;
  margin: auto;
  background-repeat: no-repeat;
}

#battlecharacter {
  border: 5px solid #000000;
  width: 100px;
  height: 150px;
  background-color:purple;
  position: absolute;
  bottom: 0;
  left: 55%;
}

.weapons {
  border: 5px solid #000000;
  width: 60px;
  height: 90px;
  background-color: #964B00;
  position: absolute;
  top: 0;
  left: 35%;
  z-index: 99999;
}


#battleopponent {
  border: 5px solid #000000;
  width: 100px;
  height: 150px;
  background-color:red;
  position: absolute;
  top: 5%;
  left: 15%;
}

#btn-group{
  position: absolute;
  left: 4.25%;
  overflow-x: hidden;
  overflow-y: auto;
}

#btn-group button{
  background-color: #D2B48C;
  border: 5px solid #000000;
  width: 100px;
  height: 45px;
  padding: 2px;
  display: block;  
  margin-bottom: 10px;
  font-weight: bold;
  font-family: serif;
  font-size: 17.5px;
  text-align:center;
}

#btn-group button:hover {
  background-color: #D09D5A;
}

#btn-group button:active {
  background-color: #D6953F;
}

#backarrow {
  background-image: url("/src/lib/images/BackArrow.png");
  height: 40px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 9999;
  background-color: transparent;
  box-shadow: none;
  visibility: hidden;
  bottom: 1.5%;
  left: 4.25%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  left: 10.25%;
}

#infonl{
  position: absolute;
  left: 4.25%;
}

#infosection{
  position: absolute;
  top:50%;
  left: 8.25%;
  width: 30.5%;
  height: 200px;
  background-color: orange;
  border: 5px solid #000000;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
  padding: 10px;
  padding-left: 4.25%;
  text-align: left;
  background-color: "lightblue";
  z-index: 100000;
}

.info{
  font-weight:bold;
  font-family: serif;
  font-size:20px;
}
